$fontColor: #2196f3;
$fontSize: 52px;

.title {
  color: $fontColor;
  font-size: $fontSize;
  text-align: center;
}

.chat-window {
  background: #f9f9f9;
  max-width: 350px;
  margin: 0 auto;

  .chat-window-body {
    height: 400px;
    overflow: auto;
  }

  form {
    display: flex;
  }
  .message-input {
    padding: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
  }
  .message-button-send {
    width: 70px;
    background: #eee;
    border: 1px solid #ddd;
    border-left: none;
  }
}

.message {
  display: flex;
  padding: 4px 10px;
  .message-inner {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    white-space: normal;
  }
  .message-time {
    font-size: 10px;
    padding: 5px 8px;
    color: #666;
  }
}
.message.opponent {
  align-items: flex-end;
  justify-content: flex-start;

  .message-inner {
    border: 1px solid #eee;
    background: #fff;
  }
}
.message.myself {
  align-items: flex-end;
  justify-content: flex-end;

  .message-inner {
    background: #0080F7;
    color: #fff;
  }
}
